

  <div style=" margin-top: 5px; padding: 20px 30px 20px 30px;
    border-color: #2E2F30; border-style: double;
    margin-left: auto; margin-right: auto; width: 50%;
  ">
    <div>
      <%= image_tag("twitter_logo.png" ,size: "30x30",class: "logo_post")  %>
      <p style="display: inline ; margin-left: 10px">
        <%= retweet.username %>
      </p>
    </div>
    <br>
    <strong>
      <%= retweet.retweet_body %>
    </strong>

  </div>


</div>
